@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	pointer-events: none;
}
